<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo Not Workinig</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">

        <div class="jumbotron">
            <h2 class="display-4"> NG Canvas App POC </h2>
            <p class="lead">
                <ul>
                    <li> EITHER not accessing this page from Salesforce.  </li>
                    <li>  OR App did not receive valid Signed Request. </li>
                    <li>  OR Logged in User is not configured to use Canvas App.  </li>
                </ul>
                 
            </p>
        </div> 
    </div>  
</body> 
</html>